
/* Adjusting the margins, paddings and no list styles */
.navigation {
margin:0;
padding:0;
list-style:none;
}

/* Little tricking with positions */
.navigation li {
float:left; /* Show list items inline */
width:150px;
position:relative;
}

/* Playing with Main Categories */
.navigation li a {
background:#c5c5c5;

color:#fff;
display:block; /* Making sure a element covers whole li area */
padding:8px 7px 8px 7px;
text-decoration:none; /* No underline */
text-align:center;
}

.navigation li a:hover {
	/*background:#585858;*/
	color:#F2861D;
        border-top:1px solid #F2861D;
}

/* Sub Cat Menu stuff*/
.navigation ul {
position:absolute;
left:0;
display:none; /* Hide it by default */
margin:0 0 0 -1px;
padding:0;
list-style:none;
border-bottom:3px solid #F2861D;
z-index:1;
}

.navigation ul li {
width:150px;
float:left;
border-top:none;
}

/* Sub Cat menu link properties */
.navigation ul a {
display:block; /* Making sure a element covers whole li area */
height:15px;
padding:8px 7px 13px 7px;
color:#fff;
text-decoration:none;
border-top:none;
border-bottom:1px solid darkgrey;
}

.navigation ul a:hover {
color:#F2861D;
}